@model CondWebMvc.Models.Unidade

@{
    Layout = null;
}

<div class="container-fluid">
    <div class="modal-header">
        <h4 class="modal-title">Nova Unidade</h4>
    </div>
    <div class="row">
        <div class="col-md-12">

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NumUnidade" class="control-label"></label>
                    <input asp-for="NumUnidade" class="form-control" />
                    <span asp-validation-for="NumUnidade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BlocoUnidade" class="control-label"></label>
                    <input asp-for="BlocoUnidade" class="form-control" />
                    <span asp-validation-for="BlocoUnidade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Incluir" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-info">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
